<app-header-component></app-header-component>

<div class="activityContainer">
  <table class="accountActivity">
    <thead>
      <tr>
          <th>Transaction Date</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Balance</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>10/10/2019</td>
            <td>Shopping</td>
            <td>1000.00</td>
            <td>12,458,58.00</td>
        </tr>
        <tr>
          <td>10/10/2019</td>
          <td>Shopping</td>
          <td>1000.00</td>
          <td>12,458,58.00</td>
      </tr>
      <tr>
        <td>10/10/2019</td>
        <td>Shopping</td>
        <td>1000.00</td>
        <td>12,458,58.00</td>
    </tr>
    </tbody>
  </table>
</div>
