
<div class="openAccountContainer">

  <div class="oAcctDiv">
      <div class="aRow">         
          <div><b>Please fill details below and submit to open an account</b></div>
      </div>
    <div class="aRow">
        <label>User Name:</label>
        <div><input type="text"></div>
    </div>
    
    <div class="aRow">
      <label>Email Address:</label>
      <div><input type="text"></div>
  </div>
  
  <div class="aRow">
    <label>Account Type:</label>
    <div><input type="text"></div>
</div>

<div class="aRow"> 
  <div><button>Submit</button></div>
</div>
    

  </div>

</div>
