
<app-header-component></app-header-component>
<div class="fTContainer">
    <div class="ftRow">
      <label>Select from account</label>
      <div><select><option>Select Account</option></select></div>
    </div>
    <div class="ftRow">
        <label>Select Beneficiary</label>
        <div><select><option>Select Beneficiary</option></select></div>
    </div>
    <div class="ftRow">
        <label>Enter Amount</label>
        <div><input type="text" /></div>
    </div>
    <div class="ftRow">
        <label>Description</label>
        <div><input type="text" /></div>
    </div>
    <div class="ftRow">
        <div><button>Submit</button></div>
    </div>
    
</div>
