
<div class="registerContainer">

  <div class="registerDiv">

    <div class="rRow">
        <label>User Name:</label>
        <div><input type="text"></div>
    </div>
    <div class="rRow">
      <label>Password:</label>
      <div><input type="text"></div>
    </div>
    <div class="rRow">
      <label>Email Address:</label>
      <div><input type="text"></div>
    </div>
    <div class="rRow">
      <label>Customer Id:</label>
      <div><input type="text"></div>
    </div>
    <div class="rRow">   
      <div><button>Submit</button></div>     
    </div>

  </div>

</div>
